<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>Stock alerts</title>
    <%= stylesheet_link_tag "stockalerts" %>
  </head>
  <body id="library">
    <div id="container">
      <div id="header">
		<h1>Stock alerts for trading <% if logged_in? %> : <%= link_to "Logout", "/logout" %><% else %><%= link_to "Login", "/login" %><% end %></h1>
      </div>
	  <div id="message">
		<% if flash[:message] %>
			<%= flash[:message] %>
	    <% end %>
	  </div>
      <div id="content">
        <%= yield -%>
      </div>
      <div id="sidebar"></div>
    </div>
  </body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3036134-13");
pageTracker._trackPageview();
</script>
</html>

